html{
    margin: 0;
}
body {
    background-color: #F6E5DC;
    font-family: Verdana;
    margin: 0;
}


header {

background-color: #2F180C !important;
text-align: center;
color: khaki;
height: 60px;
}
.left-section{
    width: 60%;

}
.right-section{
    font-size: 150%;
    padding: 70px;
width: 40%;

}
main {
        background-color: #F6E5DC;
        display: flex;
        flex-direction: column;
}

.bottom-section{
    /* background-color: #D0B6A8; */
    text-align: center;
    padding: 30px;
    width: 100%;
    background-color: red;
}
footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}
img{
    height: 350px;
}
button{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}

.first {
    display: flex;
}